APP_NAME=SplitwiseLikeAPI
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mongodb
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DATABASE=splitwise_like

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
